#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule
if [ -f /etc/hesiod.conf ]; then
	. /etc/hesiod.conf || true
	if [ "$lhs" ]; then
		db_set hesiod/lhs $lhs
	fi
	if [ "$rhs" ]; then
		db_set hesiod/rhs $rhs
	fi
	if [ "$classes" ]; then
		db_set hesiod/classes $classes
	fi
elif [ -f /etc/resolv.conf ]; then
	rhs=`sed -n -e's/^[[:space:]]*search[[:space:]]\+\([^[:space:]]\+\)\([[:space:]]\+.*$\)*/\1/p' \
		< /etc/resolv.conf | head -n 1`
	if [ "$rhs" ]; then
		if test "$rhs" = "mit.edu"; then
			rhs=athena.mit.edu
		fi
		db_set hesiod/rhs ".$rhs"
	fi
fi
db_input low hesiod/rhs || true
db_input low hesiod/lhs || true
db_input low hesiod/classes || true
db_go || true
